*~
.\#*
\#*\#
.deps/
.libs/
Makefile
Makefile.in
*.o
*.la
*.lo

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool

/doxygen/doxygen.cfg
/doxygen/doxyfile.stamp
/doxygen/man/
/doxygen/html/
/*.pc
